/*Obnuleniye*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    /*color: inherit;*/
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #252B42;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

body.lock {
   overflow: hidden;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


/*  Container */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/*Header section styles*/

.header-top {
   background-color: #534741;
   
}
.header-top_body {
   padding: 10px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}

.header-top_left {
   display: flex;
   align-items: center;
}

.header__logo-link img {
   width: 120px;
}

.header__user {
   color: wheat;
   font-size: 18px;
   display: flex;
   align-items: center;
}

.header__user-name {
   padding: 0px 5px;
}

.top_user__icon {
   color: wheat;
   font-size: 20px;
}

/*header search styles*/

.header__search {
  display: flex;
  background-color: white;
  border-radius: 10px;
   padding: 5px 10px;
   align-items: center;
   transition: all 0.3s ease 0s;
}

.header__search:hover {
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.19);
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
}

.header__input::placeholder {
  font-family: inherit;
  color: grey;
}

@media (max-width: 400px) {
   .header__search {
      display: none;
   }
}

/*  burger menyu styles   */

    .header_burger {
    display: none;
    margin: 0 10px;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 50;
    order: 3;
}

.header_burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header_burger::before,
.header_burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header_burger.active span {
    transform: scale(0);
    }
f
.header_burger::before {
    top: 0;
}

.header_burger::after {
    bottom: 0;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: white;
}

.header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: white;
    }

@media (max-width: 900px) {
   .header_burger {
      display: block;
   }
}

/* Main Section Styles*/

.main-section {
   background-color: #534741;
   flex: 1 0 auto;
}
.main-section_container {
   display: flex;
   
   
}
._container {
}
.main-section_left {
   flex: 0 0 260px;
   background-color: #534741;
}

@media (max-width: 900px) {
   .main-section_container {
      display: block;      
   }
}

/* Sidebar section styles */

.sidebar-menu_main {
   color: white;
   font-size: 18px;
   padding: 20px 10px;
}
.menu-title {
   margin: 10px 0px;
   font-weight: 700;
}
.menu-title_spliter {
   width: 80%;
   height: 2px;
   background-color: yellow;
   display: block;
   margin-top: 10px;
}

.menu_link {
   color: rgba(255, 255, 255, 0.6);
   font-size: 18px;
   padding: 10px 10px 10px 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
    transition: all 0.3s ease 0s;
}

.menu_link:hover {
  background-color: #645249;
   border-radius: 10px;
   color: rgba(255, 255, 255, 0.88);
}
.menu_link-title {
   display: flex;
   align-items: center;
}

.menu_link-icon {
   padding-right: 10px;
}
.menu_link-info {
   border-radius: 7px;
   padding: 4px 7px;
   background-color: yellow;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
}

.sub-menu_arrow {
   transition: all 0.3s ease 0s;
}

.sub-menu_arrow.turn {
   transform: rotate(180deg);
}

.sub-menu {
   max-height: 0;
   overflow: hidden;
   transition: all 0.3s ease 0s;
}

.sub-menu1 {
   display: grid;
   grid-template-rows: 1fr;
   transition: all ease 1s;
}

.sub-menu.show {
   
}

.sub-menu.hide1 {
   grid-template-rows: 0fr;
   max-height: 0;
   overflow: hidden;
}

.collapse_main>div {
    overflow: hidden;
}

.sub-menu_link {
   color: rgba(255, 255, 255, 0.6);
   color: rgba(173, 255, 47, 0.65);
   display: flex;
   align-items: center;
   padding: 10px 10px 10px 10px;
}
.submenu_link-icon {
   padding-right: 5px;
}


/*Main Section right*/

.main-section_right {
   background-color: #E4E9E7;
   flex: 1 1 auto;
}
.section_right-content {
   padding: 20px 20px;
}

@media (max-width: 650px) {
   .section_right-content {
   padding: 10px 5px;
}
}

/*Cardboxes section styles*/

.card_boxes-section {
}

.main_section-title {
   font-size: 38px;
   font-weight: 700;
   margin: 20px 0px 10px;
   padding: 0px 20px;
}

.title_section-divider {
   width: 20%;
   height: 5px;
   background-color: greenyellow;
   margin: 0px 20px 10px;
}

.card_boxes-rows {
   padding: 0px 20px;
   display: flex;
   flex-wrap: wrap;
}
.card_box-main {
   flex: 0 0 25%;
   padding: 10px;
   min-width: 250px;
}
.box_inner {
   padding: 30px;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
   background-color: white;
}
.box-top_side {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.box_numbers {
   font-size: 28px;
   margin-bottom: 10px;
}
.box_topic {
   font-size: 20px;
   white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.card_box-icon {
   font-size: 48px;
   color: blueviolet;
}

@media (max-width: 850px) {
   .card_box-main {
      flex: 0 0 50%;
   }
}

@media (max-width: 650px) {
   .card_boxes-rows {
   padding: 0px 10px;
}
   
   .main_section-title {
      font-size: 32px;
   }
}

@media (max-width: 550px) {
   .card_box-main {
      min-width: 100px;
      padding: 5px;
   }
}

@media (max-width: 550px) {
   .card_boxes-rows {
   padding: 0px 0px;
}
   .box_inner {
      padding: 15px;
   }
   .box_numbers {
      font-size: 20px;
   }
   .card_box-icon {
      font-size: 30px;
   }
   .box_topic {
      font-size: 16px;
   }
}

/* Latest messages section style*/

.section_latest-messages {
   margin: 20px 0px;
}

.latest-messages-main {
   margin: 20px 0px;
   padding: 0px 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

/* Latest Uploads style*/



.latest_uploads {
  flex: 0 1 65%;
   padding: 7px;
   background-color: white;
  border-radius: 20px;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin-bottom: 20px;
}

.latest_uploads-main {
   padding: 20px;  
}

.table_container {
   max-width: 1300px;
   margin: 0 auto;
}

.table_responsive {
   overflow-x: auto;
}



.uploads_table {
/*   display: block;*/
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
   white-space: nowrap;
}

.uploads_table-title h2 {
  font-weight: 700;
  line-height: 1.2;
  color: #0a5db1;
   font-size: 18px;
}

.uploads_table tr {
  border-bottom: 1px solid #cc8686;
}

.uploads_table tbody tr {
   border-bottom: 1px solid #cc8686;
}


.uploads_table tbody tr:last-child {
/*  border-bottom: none;*/
}

.uploads_table tr td {
  padding: 10px 10px;
}

.uploads_table tbody tr td {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: dimgrey;
}

.uploads_table tbody tr td:nth-child(2) {
  padding-left: 5px;
}

.cell1_size {
   max-width: 120px;
   white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.img_table_container {
   width: 70px;
   display: block;
   overflow: hidden;
   border-radius: 10px;
}

.img_table_mini {
   width: 100%;
   object-fit: cover;
   
}

.user_q {
   padding: 2px 5px;
   background-color: yellow;
   margin: 0px 3px;
   border-radius: 10px;
   font-weight: 700;
}

.edit_times {
   padding: 2px 5px;
   background-color: #ff106c;
   margin: 0px 3px;
   border-radius: 10px;
   font-weight: 700;
   color: white;
}



/*Table badge styles*/

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: black;
  border-radius: 5px;
}

.bg_worning {
  background: #ffc107;
}
.bg_atn {
  background: #ff001b;
   color: white;
}
.bg_info{
  background: #0dcaf0;
}
.bg_seccuss{
  background: #0f9859;
   color: white;
}

.bg_premium {
   background: #ab0cb9;
   color: white;
}

@media (max-width: 1350px) {
   .latest-messages-main {
      display: block;
   }
}


@media (max-width: 500px) {
   .latest-messages-main {
      padding: 0px 10px;
   }    
}


/*latest inbox styles*/

.latest_inbox {
   flex: 0 1 34%;
   padding: 7px;
    background-color: white;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin-bottom: 20px;
}

.latest_inbox-main {
   padding: 20px;
}

@media (max-width: 1350px) {
   .latest_inbox {
      flex: 0 1 50%;
   }
}


/*Nav bar styles mobile*/

@media (max-width: 900px) {
.nav {
    position: fixed;
    left: -100%;
    top: 60px;
    height: 100%;
    overflow: auto;
    transition: all 0.7s ease 0s;
    z-index: 11;
   width: 260px;
}

   .nav.active {
      left: 0;
    }
}

/*  Login & Reqister Styles  */

.login_section {
   background-color: #E4E9E7;
   flex: 1 0 auto;
   
}

.login_container {

}

.login_title {
    text-align: center;
    color: #016e83;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;

}

.login_body {
    margin: 10px auto 100px;
    padding: 10px 10px 10px;
    position: relative;
    max-width: 400px;
    width: 95%;
   background-color: #534741;
    border-radius: 9px;
}

.login_mistake {
    width: 70%;
/*    position: absolute;*/
    top -50px;
/*    left: -20px;*/
    border: 1px solid white;
    padding: 5px;
    margin: 10px auto;
    color: white;
    text-align: center;
    border-radius: 5px;
/*    display: none;*/
    opacity: 0;
}

.user_reqister_label {
    color: white;
    padding: 0px 33px;
}

.user_reqister_label::after {
    content: "*";
    color: white;
    padding: 0px 2px;
    vertical-align:top;
/*    vertical-align: super;*/
}

.login_email {
    display: block;
    width: 85%;
    margin: 1px auto 15px;
    padding: 15px 10px;
    border: 1px solid #d0d0d0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 14px;
    background-color: white;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.login_email::placeholder {
    color: #cbcbcb;
}

.login_psw_lost {
    display: block;
    margin: -12px 30px 20px 0px;
    text-align: right;
    color: white;
   text-decoration: underline;
}

.login_new_user {
    display: block;
    margin: 20px 0px 10px 0px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.login_new_user span {
    color: yellow;
    font-weight: 700;
    text-decoration: underline;
}

.number_check_btn {
    display: block;
    padding: 11px 25px;
    background-color: orange;
    border: 1px solid #ffd102;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
   cursor: pointer;
   transition: all 0.2s ease 0s;
}

.number_check_btn:hover {
   background-color: #ed9900;
} 


/*users table page sty/les*/

.users_table-section {
   margin: 20px 0px;
   padding: 0px 20px;
}

.users_table-body {
   background-color: white;
  border-radius: 20px;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin: 20px 0px;
   max-width: 1150px;
}

.users_table-main {
   padding: 20px;
}



@media (max-width: 600px) {
   .users_table-section {
   margin: 20px 0px;
   padding: 0px 10px;
}
}

/*Section Settings Styles */

.section_settings {
}
.section_settings-body {
   margin: 20px 0px;
   padding: 0px 20px;
}
.section_settings-main {
   display: flex;
   border-top: 1px dashed grey;
   border-bottom: 1px dashed grey;
   padding: 10px 15px;
   justify-content: space-between;
   align-items: center;
}

.section_settings-left {
}
.section_settings_select {
   padding: 0px 2px;
}
.select__filtr {
   font-size: 14px;
   padding: 10px 10px;
   border-radius: 7px;
   color: dimgray;
   outline: none;
}

.section_settings-right {
   display: flex;
}

@media (max-width: 600px) {
   .section_settings-body {
   padding: 0px 10px;
}
   
   .section_settings-main {
   padding: 10px 0px;
}
}

/* Buttons Styles */

.button_part {
   padding: 0px 0px 0px 10px;
}

.btn_body {
   display: flex;
  padding: 7px 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: black;
  border-radius: 10px;
   justify-content: center;
   align-items: center;
   color: white;
   cursor: pointer;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.19);
   
}

.btn_title {
   padding-left: 5px;
   white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.button_icon {
   color: inherit;
   font-size: 24px;
}

.btn-blue {
   background: #08aacb;
   transition: all 0.3s ease 0s;
}

.btn-blue:hover {
   background: #00809a;
}

.btn-red {
   background-color: red;
   max-width: 140px;
}

.btn-dblue {
   background-color: darkblue;
   max-width: 140px;
}

/*  Paginations Styles */

.pagination {
    text-align: center;
   margin-bottom: 20px;
}

.pagination_item {
    text-align: center;
    margin: 2px 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: darkgrey;
    padding: 2px 5px;
}

.page_active {
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
   border-radius: 5px;
}

.page_pointer {
    color: orangered;
    margin: 2px 5px;
    font-weight: 700;
}

.pagination_item:hover {
    color: orangered;
    border-bottom: 2px solid orangered;
}

.page_active:hover {
    color: white;

}

/*  Footer Styles */

.footer {
   margin-top: auto;
   background-color: #534741;
/*   border-top: 7px solid orange;*/
}

.footer__bottom {
    padding: 15px 0;
}

.footer__bottom__container { 
    }

.footer_divider {
   border-top: 5px solid orange;
   margin: 0px auto;
   width: 90%;
   height: 5px;
   padding: 10px 0px 0px;
   border-radius: 50%;
}

.footer__bottom-inner {
   display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom__container a {
   color: white;
   font-weight: 700;
}

.footer__bottom__copy {
   line-height: 170%;
   text-align: center;
   color: darkgrey;
}





