/*Obnuleniye*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    /*color: inherit;*/
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #252B42;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

body.lock {
   overflow: hidden;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


/*  Container */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/*Header section styles*/

.header-top {
   background-color: #534741;
   
}
.header-top_body {
   padding: 10px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}

.header-top_left {
   display: flex;
   align-items: center;
}

.header__logo-link img {
   width: 120px;
}

.header__user {
   color: wheat;
   font-size: 18px;
   display: flex;
   align-items: center;
}

.header__user-name {
   padding: 0px 5px;
}

.top_user__icon {
   color: wheat;
   font-size: 20px;
}

/*header search styles*/

.header__search {
  display: flex;
  background-color: white;
  border-radius: 10px;
   padding: 5px 10px;
   align-items: center;
   transition: all 0.3s ease 0s;
}

.header__search:hover {
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.19);
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
}

.header__input::placeholder {
  font-family: inherit;
  color: grey;
}

@media (max-width: 400px) {
   .header__search {
      display: none;
   }
}

/*  burger menyu styles   */

    .header_burger {
    display: none;
    margin: 0 10px;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 50;
    order: 3;
}

.header_burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header_burger::before,
.header_burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header_burger.active span {
    transform: scale(0);
    }
f
.header_burger::before {
    top: 0;
}

.header_burger::after {
    bottom: 0;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: white;
}

.header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: white;
    }

@media (max-width: 900px) {
   .header_burger {
      display: block;
   }
}

/* Main Section Styles*/

.main-section {
   background-color: #534741;
   flex: 1 0 auto;
}
.main-section_container {
   display: flex;
   
   
}
._container {
}
.main-section_left {
   flex: 0 0 260px;
   background-color: #534741;
}

@media (max-width: 900px) {
   .main-section_container {
      display: block;      
   }
}

/* Sidebar section styles */

.sidebar-menu_main {
   color: white;
   font-size: 18px;
   padding: 20px 10px;
}
.menu-title {
   margin: 10px 0px;
   font-weight: 700;
}
.menu-title_spliter {
   width: 80%;
   height: 2px;
   background-color: yellow;
   display: block;
   margin-top: 10px;
}

.menu_link {
   color: rgba(255, 255, 255, 0.6);
   font-size: 18px;
   padding: 10px 10px 10px 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
    transition: all 0.3s ease 0s;
}

.menu_link:hover {
  background-color: #645249;
   border-radius: 10px;
   color: rgba(255, 255, 255, 0.88);
}
.menu_link-title {
   display: flex;
   align-items: center;
}

.menu_link-icon {
   padding-right: 10px;
}
.menu_link-info {
   border-radius: 7px;
   padding: 4px 7px;
   background-color: yellow;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
}

.sub-menu_arrow {
   transition: all 0.3s ease 0s;
}

.sub-menu_arrow.turn {
   transform: rotate(180deg);
}

.sub-menu {
   max-height: 0;
   overflow: hidden;
   transition: all 0.3s ease 0s;
}

.sub-menu1 {
   display: grid;
   grid-template-rows: 1fr;
   transition: all ease 1s;
}

.sub-menu.show {
   
}

.sub-menu.hide1 {
   grid-template-rows: 0fr;
   max-height: 0;
   overflow: hidden;
}

.collapse_main>div {
    overflow: hidden;
}

.sub-menu_link {
   color: rgba(255, 255, 255, 0.6);
   color: rgba(173, 255, 47, 0.65);
   display: flex;
   align-items: center;
   padding: 10px 10px 10px 10px;
}
.submenu_link-icon {
   padding-right: 5px;
}


/*Main Section right*/

.main-section_right {
   background-color: #E4E9E7;
   flex: 1 1 auto;
}
.section_right-content {
   padding: 20px 20px;
}

@media (max-width: 650px) {
   .section_right-content {
   padding: 10px 5px;
}
}

/*Cardboxes section styles*/

.card_boxes-section {
}

.main_section-title {
   font-size: 38px;
   font-weight: 700;
   margin: 20px 0px 10px;
   padding: 0px 20px;
}

.title_section-divider {
   width: 20%;
   height: 5px;
   background-color: greenyellow;
   margin: 0px 20px 10px;
}

.card_boxes-rows {
   padding: 0px 20px;
   display: flex;
   flex-wrap: wrap;
}
.card_box-main {
   flex: 0 0 25%;
   padding: 10px;
   min-width: 250px;
}
.box_inner {
   padding: 30px;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
   background-color: white;
}
.box-top_side {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.box_numbers {
   font-size: 28px;
   margin-bottom: 10px;
}
.box_topic {
   font-size: 20px;
   white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.card_box-icon {
   font-size: 48px;
   color: blueviolet;
}

@media (max-width: 850px) {
   .card_box-main {
      flex: 0 0 50%;
   }
}

@media (max-width: 650px) {
   .card_boxes-rows {
   padding: 0px 10px;
}
   
   .main_section-title {
      font-size: 32px;
   }
}

@media (max-width: 550px) {
   .card_box-main {
      min-width: 100px;
      padding: 5px;
   }
}

@media (max-width: 550px) {
   .card_boxes-rows {
   padding: 0px 0px;
}
   .box_inner {
      padding: 15px;
   }
   .box_numbers {
      font-size: 20px;
   }
   .card_box-icon {
      font-size: 30px;
   }
   .box_topic {
      font-size: 16px;
   }
}

/* Latest messages section style*/

.section_latest-messages {
   margin: 20px 0px;
}

.latest-messages-main {
   margin: 20px 0px;
   padding: 0px 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

/* Latest Uploads style*/



.latest_uploads {
  flex: 0 1 65%;
   padding: 7px;
   background-color: white;
  border-radius: 20px;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin-bottom: 20px;
}

.latest_uploads-main {
   padding: 20px;  
}

.table_container {
   max-width: 1300px;
   margin: 0 auto;
}

.table_responsive {
   overflow-x: auto;
}



.uploads_table {
/*   display: block;*/
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
   white-space: nowrap;
}

.uploads_table-title h2 {
  font-weight: 700;
  line-height: 1.2;
  color: #0a5db1;
   font-size: 18px;
}

.uploads_table tr {
  border-bottom: 1px solid #cc8686;
}

.uploads_table tbody tr {
   border-bottom: 1px solid #cc8686;
}


.uploads_table tbody tr:last-child {
/*  border-bottom: none;*/
}

.uploads_table tr td {
  padding: 10px 10px;
}

.uploads_table tbody tr td {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: dimgrey;
}

.uploads_table tbody tr td:nth-child(2) {
  padding-left: 5px;
}

.cell1_size {
   max-width: 130px;
   white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.user_id-link {
   color: inherit;
}

.img_table_container {
   width: 70px;
   display: block;
   overflow: hidden;
   border-radius: 10px;
}

.img_table_mini {
   width: 100%;
   object-fit: cover;
   
}

.user_q {
   padding: 2px 5px;
   background-color: yellow;
   margin: 0px 3px;
   border-radius: 10px;
   font-weight: 700;
}

.edit_times {
   padding: 2px 5px;
   background-color: #ff106c;
   margin: 0px 3px;
   border-radius: 10px;
   font-weight: 700;
   color: white;
}


.model_q {
   padding: 2px 5px;
   background-color: #004eff;
   margin: 0px 3px;
   border-radius: 10px;
   font-weight: 700;
   color: white;
}

.class_q {
   padding: 2px 5px;
   background-color: #ffc400;
   margin: 0px 3px;
   border-radius: 10px;
   font-weight: 700;
   color: white;
}

.label_btn {
    display: flex;
  padding: 7px 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: black;
  border-radius: 10px;
   justify-content: center;
   align-items: center;
   color: white;
   cursor: pointer;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.19);
}

.add_logo-btn {
   background-color: #00ba15;
   max-width: 140px;
}

/*Table badge styles*/

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: black;
  border-radius: 5px;
}

.bg_worning {
  background: #ffc107;
}
.bg_atn {
  background: #ff001b;
   color: white;
}
.bg_info{
  background: #0dcaf0;
}
.bg_seccuss{
  background: #0f9859;
   color: white;
}

.bg_premium {
   background: #ab0cb9;
   color: white;
}

@media (max-width: 1350px) {
   .latest-messages-main {
      display: block;
   }
}


@media (max-width: 500px) {
   .latest-messages-main {
      padding: 0px 10px;
   }    
}


/*latest inbox styles*/

.latest_inbox {
   flex: 0 1 34%;
   padding: 7px;
    background-color: white;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin-bottom: 20px;
}

.latest_inbox-main {
   padding: 20px;
}

@media (max-width: 1350px) {
   .latest_inbox {
      flex: 0 1 50%;
   }
}


/*Nav bar styles mobile*/

@media (max-width: 900px) {
.nav {
    position: fixed;
    left: -100%;
    top: 60px;
    height: 100%;
    overflow: auto;
    transition: all 0.7s ease 0s;
    z-index: 11;
   width: 260px;
}

   .nav.active {
      left: 0;
    }
}

/*  Login & Reqister Styles  */

.login_section {
   background-color: #E4E9E7;
   flex: 1 0 auto;
   
}

.login_container {

}

.login_title {
    text-align: center;
    color: #016e83;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;

}

.login_body {
    margin: 10px auto 100px;
    padding: 10px 10px 10px;
    position: relative;
    max-width: 400px;
    width: 95%;
   background-color: #534741;
    border-radius: 9px;
}

.login_mistake {
    width: 70%;
/*    position: absolute;*/
    top -50px;
/*    left: -20px;*/
    border: 1px solid white;
    padding: 5px;
    margin: 10px auto;
    color: white;
    text-align: center;
    border-radius: 5px;
/*    display: none;*/
    opacity: 0;
}

.user_reqister_label {
    color: white;
    padding: 0px 33px;
}

.user_reqister_label::after {
    content: "*";
    color: white;
    padding: 0px 2px;
    vertical-align:top;
/*    vertical-align: super;*/
}

.login_email {
    display: block;
    width: 85%;
    margin: 1px auto 15px;
    padding: 15px 10px;
    border: 1px solid #d0d0d0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 14px;
    background-color: white;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.login_email::placeholder {
    color: #cbcbcb;
}

.login_psw_lost {
    display: block;
    margin: -12px 30px 20px 0px;
    text-align: right;
    color: white;
   text-decoration: underline;
}

.login_new_user {
    display: block;
    margin: 20px 0px 10px 0px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.login_new_user span {
    color: yellow;
    font-weight: 700;
    text-decoration: underline;
}

.number_check_btn {
    display: block;
    padding: 11px 25px;
    background-color: orange;
    border: 1px solid #ffd102;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
   cursor: pointer;
   transition: all 0.2s ease 0s;
}

.number_check_btn:hover {
   background-color: #ed9900;
} 


/*users table page sty/les*/

.users_table-section {
   margin: 20px 0px;
   padding: 0px 20px;
}

.users_table-body {
   background-color: white;
  border-radius: 20px;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin: 20px 0px;
   max-width: 1150px;
}

.users_table-main {
   padding: 20px;
}



@media (max-width: 600px) {
   .users_table-section {
   margin: 20px 0px;
   padding: 0px 10px;
}
}

/*Section Settings Styles */

.section_settings {
}
.section_settings-body {
   margin: 20px 0px;
   padding: 0px 20px;
}
.section_settings-main {
   display: flex;
   border-top: 1px dashed grey;
   border-bottom: 1px dashed grey;
   padding: 10px 15px;
   justify-content: space-between;
   align-items: center;
}

.section_settings-left {
   display: flex;
   align-items: center;
}
.section_settings_select {
   padding: 0px 2px;
}
.select__filtr {
   font-size: 14px;
   padding: 10px 10px;
   border-radius: 7px;
   color: dimgray;
   outline: none;
}

.section_settings-right {
   display: flex;
}

@media (max-width: 600px) {
   .section_settings-body {
   padding: 0px 10px;
}
   
   .section_settings-main {
   padding: 10px 0px;
}
}

/* Buttons Styles */

.button_part {
   padding: 0px 0px 0px 10px;
}

.btn_body {
   display: flex;
  padding: 7px 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: black;
  border-radius: 10px;
   justify-content: center;
   align-items: center;
   color: white;
   cursor: pointer;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.19);
   
}

.btn_title {
   padding-left: 5px;
   white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.button_icon {
   color: inherit;
   font-size: 24px;
}

.btn-blue {
   background: #08aacb;
   transition: all 0.3s ease 0s;
}

.btn-blue:hover {
   background: #00809a;
}

.btn-red {
   background-color: red;
   max-width: 140px;
}

.btn-dblue {
   background-color: darkblue;
   max-width: 140px;
}

.btn-purple {
   background-color: #8d00b7;
   max-width: 140px;
}

.btn-orange {
   background-color: orange;
   max-width: 140px;
}

.btn-goldenrod {
   background-color: goldenrod;
   max-width: 140px;
}

.btn-orangered {
   background-color: orangered;
   max-width: 140px;
}

@media (max-width: 1100px) {
   .title_hide {
      display: none;
   }
}

@media (max-width: 400px) {
   .title_hide1 {
      display: none;
   }
}

/* Users mail section*/

.users_mail-section {
}

.users_table-body {
   background-color: white;
  border-radius: 20px;
   box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
   margin: 20px 0px;
   max-width: 1150px;
}

.users_mail-about {
  border-top: 1px dashed grey;
   padding: 7px 5px;
   border-bottom: 1px dashed grey;
   padding: 7px 5px;
   margin-bottom: 20px;
}

.mail-about {
   font-size: 18px;
   color: mediumblue;
   font-weight: 700;
   padding-right: 10px;
}

.mail-about-title {
   font-size: 18px;
}

.users_mail-text {
   border: 1px dotted grey;
   border-radius: 10px;
}

.mail-text-body {
   padding: 10px;
   line-height: 1.8;
   font-size: 16px;
   font-weight: 300;
   color: #6c6c6c;
}


/*  Paginations Styles */

.pagination {
    text-align: center;
   margin-bottom: 20px;
}

.pagination_item {
    text-align: center;
    margin: 2px 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: darkgrey;
    padding: 2px 5px;
}

.page_active {
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
   border-radius: 5px;
}

.page_pointer {
    color: orangered;
    margin: 2px 5px;
    font-weight: 700;
}

.pagination_item:hover {
    color: orangered;
    border-bottom: 2px solid orangered;
}

.page_active:hover {
    color: white;

}

/*  Footer Styles */

.footer {
   margin-top: auto;
   background-color: #534741;
/*   border-top: 7px solid orange;*/
}

.footer__bottom {
    padding: 15px 0;
}

.footer__bottom__container { 
    }

.footer_divider {
   border-top: 5px solid orange;
   margin: 0px auto;
   width: 90%;
   height: 5px;
   padding: 10px 0px 0px;
   border-radius: 50%;
}

.footer__bottom-inner {
   display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom__container a {
   color: white;
   font-weight: 700;
}

.footer__bottom__copy {
   line-height: 170%;
   text-align: center;
   color: darkgrey;
}

/* Car add section styles */

.elan_add_rule {
/*    background-color: #ffc937;*/
    background-color: #006aac;
    max-width: 871px;
    margin: 10px auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;

}

.cars__ads__main__inner3 {
    display: flex;
   flex-wrap: wrap;
   padding-bottom: 20px;
   justify-content: space-between;
}

._container_middle {
   max-width: 1070px;
   margin: 0 auto;
   width: 100%;
}

._container_mini {
   max-width: 1070px;
   margin: 0 auto;
   padding: 0 5px;
}

.cars__item2 {
    width: 50%;
    /*    border: 1px solid #e8e7e7;*/
    margin: 0px 0px;

}

.number_only {
    background-color: #ffba00;
    max-width: 871px;
    margin: 10px auto;
    padding: 20px 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;

}

.number_only_style {
    color: #ff0000;
    color: #004774;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 5px;
}

.ads_rule {
/*    background-color: #ffc937;*/
    background-color: #006aac;
    max-width: 871px;
    margin: 10px auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;

}

.marka_model_add {
    display: flex;
    margin: 0px 0px 0px 0px;
    align-content: space-between;
    /*    align-content: stretch;*/
}

.select_add {
   position: relative;
    margin: 10px 10px 10px 10px;
    width: 45%;
    border: 1px solid #a8a8a8;
/*    width: 230px;*/
    font-family: 'Roboto', sans-serif;
/*    font-size: 18px;*/
    color: #777;
    font-size: 14px;
/*    padding: 5px 0px;*/
    padding: 9px 3px 9px 3px;
    background-color: white;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
}



.select_add_t1 {
    margin: 10px 10px 10px 10px;
    width: 22%;
/*    width: 230px;*/
    font-family: 'Roboto', sans-serif;
/*    font-size: 18px;*/
    color: #777;
    font-size: 14px;
/*    padding: 5px 0px;*/
    padding: 9px 3px 9px 3px;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    background-color: white;
    -moz-appearance: none;
    -webkit-appearance: none;

}


.select_add:hover,
.select_add_t1:hover {
    border: 1px solid #005d8e;
        background-color: #f7f7f7;
/*    box-shadow: 0 0 5px 3px rgba(0, 149, 185, 0.52); */
}

.select_add:focus,
.select_add_t1:focus {
    border: 1px solid #005d8e;
    outline: none;
    background-color: #f7f7f7;
/*    outline-style: dashed;*/
    box-shadow: 0px 0px 1px 1px rgba(0, 149, 185, 0.52);
}

.label_add,
.label_add1 {
    width: 170px;
    margin: 10px 10px 10px 15px;
    padding: 5px;
    0px;
    color: #464646;
    font-weight: 600;
    /*    padding: 0px 50px 0px 0px;*/
}

.label_add::after {
    content: "*";
    color: red;
/*    vertical-align: super;*/
}


.input_add {
    margin: 10px 5px 10px 10px;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    width: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777;
    /*    font-size: 14px;*/
/*    padding: 5px 3px;*/
    padding: 9px 3px 9px 3px;
    /*    border-radius: 2px;*/

}

.input_add:hover {
    border: 1px solid #005d8e;
        background-color: #f7f7f7;
/*    padding: 5px 3px;*/
    padding: 9px 3px 9px 3px;
    font-size: 14px;
/*    box-shadow: 0 0 5px 3px rgba(0, 149, 185, 0.52); */
}

.input_add:focus {
    border: 1px solid #005d8e;
    outline: none;
    font-size: 14px;
    background-color: #f7f7f7;
/*    outline-style: dashed;*/
/*    box-shadow: 0px 0px 1px 1px rgba(0, 149, 185, 0.52);*/
}

.radio_add {
    /*    width: 15px;*/
    margin: 0px 0px 0px 0px;
    font-size: 10px;
    color: #777;
    padding: 5px 0px 0px 0px;
    /*    border-radius: 4px;*/
}


.currency_add {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.label_currency_add {
    /*    width: 20px;*/
    margin: 5px 5px 0px 0px;
    font-size: 12px;
    padding: 0px 5px 0px 0px;
    color: #464646;
    font-weight: 500;
    /*    padding: 0px 50px 0px 0px;*/
}

.label_currency_add:hover {
/*    border: 1px solid #005d8e;*/
        background-color: #e3e3e3;
/*    box-shadow: 0 0 5px 3px rgba(0, 149, 185, 0.52); */
}

.label_currency_add:focus {
/*    border: 1px solid #005d8e;*/
    outline: none;
/*    background-color: #f7f7f7;*/
/*    outline-style: dashed;*/
    box-shadow: 0px 0px 1px 1px rgba(0, 149, 185, 0.52);
}



.checkbox_add {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    vertical-align: middle;
    /*    display: block;*/
    /*    width: 50px;*/
    margin: 10px 15px 5px 15px;
    /*    width: 70px;*/
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 14px;
    /*    text-overflow: ellipsis;*/
    /*    padding: 2px; 5px;*/
    border-radius: 4px;
    line-height: 1.1;
}



.label_checkbox_add1 {
    width: 170px;
    font-size: 14px;
    margin: 0px 10px 10px 0px;
    /*    margin: 10px 10px 10px 15px;*/
    padding: 5px, 0px;
    color: #464646;
    font-weight: 600;
    /*    padding: 0px 50px 0px 0px;*/

}

.label_checkbox_add1::after {
    content: "*";
    color: red;
/*    vertical-align: super;*/
}

.label_checkbox_add {
    width: 170px;
    font-size: 14px;
    margin: 0px 10px 10px 0px;
    /*    margin: 10px 10px 10px 15px;*/
    padding: 5px;
    0px;
    color: #464646;
    font-weight: 600;
    /*    padding: 0px 50px 0px 0px;*/

}

.pay_add {
    display: flex;
   flex-wrap: wrap;
}

.pay_method {
    margin: 5px 10px 0px -2px;
}

.pay_method:hover {
/*    border: 1px solid #005d8e;*/
        background-color: #ebebeb;
/*    box-shadow: 0 0 5px 3px rgba(0, 149, 185, 0.52); */
}

.pay_method:focus {
/*    border: 1px solid #005d8e;*/
    outline: none;
/*    background-color: #f7f7f7;*/
/*    outline-style: dashed;*/
/*    box-shadow: 0px 0px 1px 1px rgba(0, 149, 185, 0.52);*/
}

.pay_method1 {
    margin: 5px 2px 0px 5px;
}

.pay_add_estate {
   margin-bottom: 15px;
}

.textarea_add {
    margin: 20x 0px 0px 10px;
    width: 95%;
    max-width: 790px;
    height: 100px;
    padding: 5px 3px;
    border: 1px solid #a7a7a7;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
   border-radius: 5px;
}

.estate_textarea {
   margin-top: 10px;
   margin-bottom: 40px;
}

.textarea_add:hover {
    border: 1px solid #005d8e;
        background-color: #f7f7f7;
    padding: 5px 3px;
    font-size: 14px;
/*    box-shadow: 0 0 5px 3px rgba(0, 149, 185, 0.52); */
}

.textarea_add:focus {
    border: 1px solid #005d8e;
    outline: none;
    font-size: 14px;
    background-color: #f7f7f7;
/*    background-color: #f7f7f7;*/
/*    outline-style: dashed;*/
/*    box-shadow: 0px 0px 1px 1px rgba(0, 149, 185, 0.52);*/
}

.label_add_textarea {
    width: 170px;
    margin: 10px 10px 10px 20px;
    padding: 5px0px;
    color: #464646;
    font-weight: 600;
    /*    padding: 0px 50px 0px 0px;*/
}

.car_extra_same1 {
    margin: 20px 0px 0px 0px;
    padding: 7px 5px 7px 10px;
    font-family: "Source Sans Pro", sans-serif;
    /*    border-left: 5px solid red;*/
    font-size: 20px;
    font-weight: 600;
    color: #3e3d3d;
   display: flex;
   align-items: center;

    /*    border-top: 1px solid #d1d1d1;*/
    /*    border-bottom: 1px solid #d1d1d1;*/

}


/*.car_extra_same1::before {
    font-size: 18px;
    content: "";
    border-left: 5px solid #ff0000;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 5px;
    padding: 1px 0px;
}*/


.extra__item1 {
    width: 25%;
    padding: 5px 5px 5px 5px;

}

@media (max-width: 800px) {
   .extra__item1 {
      width: 33.333%;
   }
}

@media (max-width: 600px) {
   .extra__item1 {
      width: 50%;
   }
}

@media (max-width: 400px) {
   .extra__item1 {
      width: 100%;
   }
}

.input_extra {
    width: 33.33333%;
    padding: 0px 5px 0px 10px;
}

.extra_item_checkbox {
    margin: 5px 2px 0px 5px;

}

.extra_item_label {
    margin: 5px 10px 0px 0px;
    font-size: 15px;
    font-weight: 400;
}

.photo_add_main {
    margin: 0 auto 20px;
   border: 2px dashed #ff8900;
/*    padding: 5px 5px;*/
   position: relative;
}

.photo_border_add {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
/*    border: 2px dashed #ff8900;*/
    /*    align-content: stretch;*/
}

.photo_border_add1 {
   position: absolute;
   display: flex;
    flex-wrap: wrap;
    width: 100%;
/*    border: 2px dashed #ff8900;*/
    /*    align-content: stretch;*/
   top: 0px;
   left: 0px;
}

.add_photo_a {
    width: 25%;
    padding: 5px 5px;


}

.add_photo_t {
/*    width: 25%;*/
    position: relative;
    padding: 0 0 67% 0;
/*    text-align: center;*/
/*    height: 180px;*/
    overflow: hidden;

     border: 1px solid #ebebeb;

}

.add_photo_t:hover {

    border: 1px solid #b2b2b2;
    box-shadow: 0px 0px 1px 1px rgba(173, 173, 173, 0.52);


}

.photo_upload_signs {
/*    display: none;*/
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: white;
    padding: 2px 2px;
    background: rgba(0, 30, 129, 0.82);
/*   background-color: orangered;*/
    position: absolute;
    cursor: pointer;
}

.right_arw {
    right: 22px;
    bottom: 0px;
    z-index: 1001;
}

.left_arw {
    right: 43px;
    bottom: 0px;
    z-index: 1002;
}

.del_arw {
    padding: 2px 2px;
    right: 0px;
    bottom: 0px;
    z-index: 1003;
/*    color: red;*/
}



.left_arw:hover,
.right_arw:hover,
.del_arw:hover {
    background: #03a3eb;
}

.left_arw:active,
.right_arw:active,
.del_arw:active {
    background: #016e9f;
}

.view_text {
    padding: 2px 6px;
    font-size: 14px;
    right: 0px;
    top: 0px;
    z-index: 1004;
    cursor: default;
}

/*
.photo_upload {
    position: absolute;
    z-index: 1000;
}
*/


.add_photo_style_t {
/*    display: block;*/
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
/*    object-fit: cover;*/
/*    max-width: 100%;*/
/*    height: auto;*/


/*    margin: 10px; 15px;*/
/*    padding: 5px 10px;*/
}




.add_photo0 {
/*    width: 70%;*/
    height: auto;
    margin: 20px auto;
    font-size: 14px;

}

.add_photo {
    align-content: center;
    align-items: center;
    width: 19%;
    object-fit: contain;
/*    height: auto;*/
    height: 160px;
    margin: 5px 5px 5px 5px;
    border: 1px solid grey;
    overflow: hidden;
    text-align: center;
/*    position: relative;*/

}

.add_photo_thmb {
    margin: 0 auto;
    width: 100%;
    height: auto;
}



.add_photo_style {
    width: 100%;
    margin: 0 auto;

    display: block;
    width: 166.19;
/*    vertical-align: middle;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*    height: 96.39px;*/
/*    height: auto;*/
    /*    margin: 10px; 15px;*/
    /*    padding: 5px 10px;*/
/*    position: absolute;*/
/*    top: 45%;*/
/*    left: 45%;*/
}

.input_contact_add {
    margin: 10px 10px 10px 10px;
    border: 1px solid #9d9d9d;
/*    width: 230px;*/
    width: 22%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #777;
    font-size: 14px;
    padding: 10px 5px;
    border-radius: 4px;

}

.input_mileage_add {
    margin: 10px 10px 10px 10px;
    width: 45%;
    border: 1px solid #9d9d9d;
/*    width: 230px;*/
    font-family: 'Roboto', sans-serif;
/*    font-size: 18px;*/
    color: #777;
    font-size: 14px;
/*    padding: 5px 0px;*/
    padding: 9px 3px 9px 3px;
    background-color: white;
    border-radius: 4px;
    -moz-appearance: none;

}

.input_contact_add:hover,
.input_mileage_add:hover,
.input_mileage_search_all:hover {
    border: 1px solid #005d8e;
    background-color: #f7f7f7;
/*    box-shadow: 0 0 5px 3px rgba(0, 149, 185, 0.52); */
}

.input_contact_add:focus,
.input_mileage_add:focus,
.input_mileage_search_all:focus {
    border: 1px solid #005d8e;
    outline: none;
/*    background-color: #f7f7f7;*/
/*    outline-style: dashed;*/
    background-color: #f7f7f7;
    box-shadow: 0px 0px 1px 1px rgba(0, 149, 185, 0.52);
}

.btn_submit {
    display: block;
    margin: 30px auto;
    width: 240px;
    vertical-align: top;
    background-color: red;
    border: 1px solid #ff0000;
    padding: 14px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear;
}

.btn_submit:hover {
   background-color: #e60000;
   box-shadow: 0px 0px 1px 1px rgba(237, 0, 0, 0.52);
}

@media (max-width: 960px) {
   .marka_model_add {
        flex-direction: column;
    }

    .marka_model_search {
        flex-direction: column;
    }

     .label_add,
   .label_add1 {
    width: 95%;
    margin: 10px 10px 2px 20px;
    }

    .label_search_all {
    width: 95%;
    margin: 10px 10px 2px 20px;
    }

    .marka_model_search_curency {
    display: flex;
    margin: 5px 0px 0px 30px;
    }

    .label_search_all_c {
    width: 5%;
    margin: 10px 10px 2px 20px;
    }

    .label_add_textarea {
    margin: 15px 5px 5px 25px;
    }

    .select_add {
    margin: 0 auto;
    width: 90%;
    }

    .input_mileage_add {
    margin: 0 auto;
    width: 90%;

    }

    .input_mileage_search_all {
    margin: 0 auto;
    width: 40%;
    }

    .input_search_all {
        margin: 0px 0px 0px 10px;
    }

    .input_contact_add {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 15px;
        width: 270px;
    }

    .select_add_t1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    width: 270px;
    }

    .input_add {
    margin: 0px 5px 10px 20px;
    }

    .label_checkbox_add {
    width: 120px;
    font-size: 14px;
        margin: 0px 5px 10px 5px;
    }
   
   .label_checkbox_add1 {
    width: 120px;
    font-size: 14px;
   margin: 0px 5px 10px 5px;
    }
   

    .textarea_add {
    width: 95%;
        margin: 0 auto;
    }

    .add_photo {

    width: 25%;
    align-content: center;
    align-items: center;
    }

    .add_photo_a {
    width: 25%;
    }

    .dealer_one_logo {
        width: 50%;

    }
}

@media (max-width: 750px) {
   .add_photo_a {
    width: 33.333%;
    }
}

@media (max-width: 600px) {
   .add_photo_a {
    width: 50%;
    }
}

@media (max-width: 670px) {
   .cars__item2 {
        width: 100%;
    }
}

/* edit car section headers*/

.section_header__estate1 {
   padding: 7px 5px;
   border-bottom: 1px dashed #677842;
   display: flex;
   margin-bottom: 10px;
   justify-content: space-between;
   align-items: center;
}

.section_header__left {
    display: flex;
   align-items: center;
   
}

.section_header__right {
   display: flex;
   align-items: center;
}

.section_header__subtitle-estate {
   font-weight: 700;
   font-size: 20px;
   padding: 0px 0px;
   color: #555555;
}

@media (max-width: 380px) {
   .section_header__left {
      flex-wrap: wrap;
   }
   




